# Ignore virtual environment
venv/
.venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables
.env

# Ignore SQLite databases
*.db
*.sqlite3

# Ignore logs
*.log

# Ignore uploads (if you don’t want user images on GitHub)
static/uploads/

# Ignore OS-specific files
.DS_Store
Thumbs.db
